# Student Scores: Data Wrangling

This project utilized randomly generated datasets of student performance on exams along with their demographics. This dataset was produced by Royce Kimmons for educational and exploratory purposes. It is a fictional dataset and was used in this project to answer hypothetical questions should this information be available from a school or online education program.

**Datasets**
- [Kaggle Student Performance Dataset:](https://www.kaggle.com/spscientist/students-performance-in-exams) first 1,000 rows
- [Royce Kimmons Generated Data:](http://roycekimmons.com/tools/generated_data/exams) remaining 9,000 rows

# Data Collection
Load required packages and modules into Python. Then load the data into a pandas dataframe.

In [1]:
# load python packages from environment
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

/Users/tiffanyflor/.pyenv/versions/3.8.2/lib/python3.8/site-packages/pandas/compat/__init__.py:120: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

**Prepare to save the urls to csv. Save current working directory.**

In [2]:
path = os.getcwd()
parent = os.path.dirname(path)
print(parent)

/Users/tiffanyflor/Dropbox/MyProjects/Student Scores

In [3]:
data_path = parent+'/data/raw'
os.listdir(data_path)

['StudentsPerformance.csv',
 'StudentsPerformance3.csv',
 'StudentsPerformance2.csv',
 'StudentsPerformance1.csv',
 'StudentsPerformance5.csv',
 'StudentsPerformance4.csv',
 'StudentsPerformance6.csv',
 'StudentsPerformance7.csv',
 'StudentsPerformance9.csv',
 'StudentsPerformance8.csv',
 '.ipynb_checkpoints']

## Save the data to csv file
Data from [Kaggle] (link: https://www.kaggle.com/spscientist/students-performance-in-exams)

In [4]:
df0 = pd.read_csv(data_path+'/StudentsPerformance.csv')
df1 = pd.read_csv(data_path+'/StudentsPerformance1.csv')
df2 = pd.read_csv(data_path+'/StudentsPerformance2.csv')
df3 = pd.read_csv(data_path+'/StudentsPerformance3.csv')
df4 = pd.read_csv(data_path+'/StudentsPerformance4.csv')
df5 = pd.read_csv(data_path+'/StudentsPerformance5.csv')
df6 = pd.read_csv(data_path+'/StudentsPerformance6.csv')
df7 = pd.read_csv(data_path+'/StudentsPerformance7.csv')
df8 = pd.read_csv(data_path+'/StudentsPerformance8.csv')
df9 = pd.read_csv(data_path+'/StudentsPerformance9.csv')


df = pd.concat([df0,df1,df2,df3,df4,df5,df6,df7,df8,df9])

df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [5]:
df.shape

(10000, 8)

In [6]:
df.duplicated().sum()

50

In [7]:
df = df.drop_duplicates(ignore_index=True)

In [8]:
df.duplicated().sum()

0

# Data Organization

In [9]:
# Folder to hold data that has been edited and to be used in future steps
#os.mkdir(parent+'/data/interim')

In [10]:
# Folder to hold visuals such as graphs
#os.mkdir(parent+'/visuals')

# Data Definition
Review which columns are integer, float, categorical, or dates. Ensure the data type is loaded properly into the dataframe.

## Column Names

In [11]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

## Date Types

In [12]:
df.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9950 entries, 0 to 9949
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       9950 non-null   object
 1   race/ethnicity               9950 non-null   object
 2   parental level of education  9950 non-null   object
 3   lunch                        9950 non-null   object
 4   test preparation course      9950 non-null   object
 5   math score                   9950 non-null   int64
 6   reading score                9950 non-null   int64
 7   writing score                9950 non-null   int64
dtypes: int64(3), object(5)
memory usage: 622.0+ KB

# Data Cleaning

## Examine NAs

In [14]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

## Examine value counts of object types
Map the values of parental level of education and test perparation course to ranking integers.
Keep the others as objects to be changed to categorical in next notebook. These will eventually be converted into dummy variables.

In [15]:
df['gender'].value_counts()

male      5021
female    4929
Name: gender, dtype: int64

In [16]:
df['race/ethnicity'].value_counts().sum()

9950

In [17]:
df['parental level of education'].value_counts()

some college          2322
high school           1953
associate's degree    1937
some high school      1854
bachelor's degree     1170
master's degree        714
Name: parental level of education, dtype: int64

In [18]:
#education_map = {'some high school':0, 'high school':1, 'some college': 2, 'associate\'s degree':3, 'bachelor\'s degree':4, 'master\'s degree':5}

#df['parental level of education'] = df['parental level of education'].map(education_map)

In [19]:
#df['parental level of education'].value_counts().sum()

In [20]:
df['lunch'].value_counts()

standard        6450
free/reduced    3500
Name: lunch, dtype: int64

In [21]:
df['test preparation course'] = df['test preparation course'].map({'none':0,'completed':1})

In [22]:
df['test preparation course'].value_counts()

0    6547
1    3403
Name: test preparation course, dtype: int64

In [23]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,0,72,72,74
1,female,group C,some college,standard,1,69,90,88
2,female,group B,master's degree,standard,0,90,95,93
3,male,group A,associate's degree,free/reduced,0,47,57,44
4,male,group C,some college,standard,0,76,78,75

## Export data to new csv file

In [24]:
df.to_csv(parent+'/data/interim/cleaned_student_scores.csv')