# Student Scores: Pre-Processing and Training

# Load Required Python Packages

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

/Users/tiffanyflor/.pyenv/versions/3.8.2/lib/python3.8/site-packages/pandas/compat/__init__.py:120: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

**Locate and print current working directory and parent directory.**

In [2]:
path = os.getcwd()
parent = os.path.dirname(path)
print(path)
print(parent)

/Users/tiffanyflor/Dropbox/MyProjects/Student Scores/notebooks
/Users/tiffanyflor/Dropbox/MyProjects/Student Scores

**Print contents of data/interim.**

In [3]:
os.listdir(parent+'/data/interim')

['total_student_scores_without_dummies.csv',
 'cleaned_student_scores.csv',
 'student_scores_no_outliers.csv',
 'total_student_scores_dummies.csv',
 '.ipynb_checkpoints']

# Load Data

In [4]:
df = pd.read_csv(parent+'/data/interim/total_student_scores_without_dummies.csv',index_col=0)

In [5]:
df.head(20)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,mean score,education,Grade
0,female,group B,bachelor's degree,standard,0,72.7,1,pass
1,female,group C,some college,standard,1,82.3,1,pass
2,female,group B,master's degree,standard,0,92.7,1,pass
3,male,group A,associate's degree,free/reduced,0,49.3,1,fail
4,male,group C,some college,standard,0,76.3,1,pass
5,female,group B,associate's degree,standard,0,77.3,1,pass
6,female,group B,some college,standard,1,91.7,1,pass
7,male,group B,some college,free/reduced,0,40.7,1,fail
8,male,group D,high school,free/reduced,1,65.0,0,fail
9,female,group B,high school,free/reduced,0,49.3,0,fail
10,male,group C,associate's degree,standard,0,54.7,1,fail
11,male,group D,associate's degree,standard,0,45.0,1,fail
12,female,group B,high school,standard,0,73.0,0,pass
13,male,group A,some college,standard,1,73.3,1,pass
14,female,group A,master's degree,standard,0,53.7,1,fail
15,female,group C,some high school,standard,0,74.0,0,pass
16,male,group C,high school,standard,0,87.7,0,pass
17,female,group B,some high school,free/reduced,0,26.0,0,fail
18,male,group C,master's degree,free/reduced,1,44.7,1,fail
19,female,group C,associate's degree,free/reduced,0,57.7,1,fail

In [6]:
df = df.astype({'gender':'category', 'race/ethnicity':'category','parental level of education':'category','lunch':'category','Grade':'category'})

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       5000 non-null   category
 1   race/ethnicity               5000 non-null   category
 2   parental level of education  5000 non-null   category
 3   lunch                        5000 non-null   category
 4   test preparation course      5000 non-null   int64
 5   mean score                   5000 non-null   float64
 6   education                    5000 non-null   int64
 7   Grade                        5000 non-null   category
dtypes: category(5), float64(1), int64(2)
memory usage: 181.3 KB

In [8]:
df.drop(['mean score'],axis=1,inplace=True)

In [9]:
X = df.drop('Grade', axis=1)
y = df['Grade']

# Create Dummy Variables

In [10]:
# One-hot encode categorical features
X = pd.get_dummies(X,drop_first=False)

# Pearson Correlation 
corr_dummies = X.corr(method='pearson')
corr_dummies.round(2).style.background_gradient(cmap='coolwarm')

In [11]:
print(df.shape)
X.head()

(5000, 7)

,test preparation course,education,gender_female,gender_male,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school,lunch_free/reduced,lunch_standard
0,0,1,1,0,0,1,0,0,0,0,1,0,0,0,0,0,1
1,1,1,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1
2,0,1,1,0,0,1,0,0,0,0,0,0,1,0,0,0,1
3,0,1,0,1,1,0,0,0,0,1,0,0,0,0,0,1,0
4,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1

In [12]:
X.describe().T

,count,mean,std,min,25%,50%,75%,max
test preparation course,5000.0,0.3422,0.474494,0.0,0.0,0.0,1.0,1.0
education,5000.0,0.6168,0.486215,0.0,0.0,1.0,1.0,1.0
gender_female,5000.0,0.5024,0.500044,0.0,0.0,1.0,1.0,1.0
gender_male,5000.0,0.4976,0.500044,0.0,0.0,0.0,1.0,1.0
race/ethnicity_group A,5000.0,0.0828,0.275607,0.0,0.0,0.0,0.0,1.0
race/ethnicity_group B,5000.0,0.1952,0.396394,0.0,0.0,0.0,0.0,1.0
race/ethnicity_group C,5000.0,0.3190,0.466136,0.0,0.0,0.0,1.0,1.0
race/ethnicity_group D,5000.0,0.2620,0.439767,0.0,0.0,0.0,1.0,1.0
race/ethnicity_group E,5000.0,0.1410,0.348056,0.0,0.0,0.0,0.0,1.0
parental level of education_associate's degree,5000.0,0.1938,0.395314,0.0,0.0,0.0,0.0,1.0
parental level of education_bachelor's degree,5000.0,0.1216,0.326856,0.0,0.0,0.0,0.0,1.0
parental level of education_high school,5000.0,0.1974,0.398077,0.0,0.0,0.0,0.0,1.0
parental level of education_master's degree,5000.0,0.0722,0.258845,0.0,0.0,0.0,0.0,1.0
parental level of education_some college,5000.0,0.2292,0.420360,0.0,0.0,0.0,0.0,1.0
parental level of education_some high school,5000.0,0.1858,0.388984,0.0,0.0,0.0,0.0,1.0
lunch_free/reduced,5000.0,0.3548,0.478501,0.0,0.0,0.0,1.0,1.0
lunch_standard,5000.0,0.6452,0.478501,0.0,0.0,1.0,1.0,1.0

In [13]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   test preparation course                         5000 non-null   int64
 1   education                                       5000 non-null   int64
 2   gender_female                                   5000 non-null   uint8
 3   gender_male                                     5000 non-null   uint8
 4   race/ethnicity_group A                          5000 non-null   uint8
 5   race/ethnicity_group B                          5000 non-null   uint8
 6   race/ethnicity_group C                          5000 non-null   uint8
 7   race/ethnicity_group D                          5000 non-null   uint8
 8   race/ethnicity_group E                          5000 non-null   uint8
 9   parental level of education_associate's degree  5000 non-null   uint8
 10  parental level of education_bachelor's degree   5000 non-null   uint8
 11  parental level of education_high school         5000 non-null   uint8
 12  parental level of education_master's degree     5000 non-null   uint8
 13  parental level of education_some college        5000 non-null   uint8
 14  parental level of education_some high school    5000 non-null   uint8
 15  lunch_free/reduced                              5000 non-null   uint8
 16  lunch_standard                                  5000 non-null   uint8
dtypes: int64(2), uint8(15)
memory usage: 190.4 KB

## Save DataFrame with Dummies

In [14]:
Xy_dummies = pd.concat([X,y],axis=1)
Xy_dummies.to_csv(parent+'/data/interim/total_student_scores_dummies.csv')

# Split into Train and Test Data

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=27)

In [16]:
# examine data details
X.describe().T

,count,mean,std,min,25%,50%,75%,max
test preparation course,5000.0,0.3422,0.474494,0.0,0.0,0.0,1.0,1.0
education,5000.0,0.6168,0.486215,0.0,0.0,1.0,1.0,1.0
gender_female,5000.0,0.5024,0.500044,0.0,0.0,1.0,1.0,1.0
gender_male,5000.0,0.4976,0.500044,0.0,0.0,0.0,1.0,1.0
race/ethnicity_group A,5000.0,0.0828,0.275607,0.0,0.0,0.0,0.0,1.0
race/ethnicity_group B,5000.0,0.1952,0.396394,0.0,0.0,0.0,0.0,1.0
race/ethnicity_group C,5000.0,0.3190,0.466136,0.0,0.0,0.0,1.0,1.0
race/ethnicity_group D,5000.0,0.2620,0.439767,0.0,0.0,0.0,1.0,1.0
race/ethnicity_group E,5000.0,0.1410,0.348056,0.0,0.0,0.0,0.0,1.0
parental level of education_associate's degree,5000.0,0.1938,0.395314,0.0,0.0,0.0,0.0,1.0
parental level of education_bachelor's degree,5000.0,0.1216,0.326856,0.0,0.0,0.0,0.0,1.0
parental level of education_high school,5000.0,0.1974,0.398077,0.0,0.0,0.0,0.0,1.0
parental level of education_master's degree,5000.0,0.0722,0.258845,0.0,0.0,0.0,0.0,1.0
parental level of education_some college,5000.0,0.2292,0.420360,0.0,0.0,0.0,0.0,1.0
parental level of education_some high school,5000.0,0.1858,0.388984,0.0,0.0,0.0,0.0,1.0
lunch_free/reduced,5000.0,0.3548,0.478501,0.0,0.0,0.0,1.0,1.0
lunch_standard,5000.0,0.6452,0.478501,0.0,0.0,1.0,1.0,1.0

# DO NOT DO for this dataset because it is made up of One Hot Encoded features: Standardize the Magnitude of Numeric Features Using a Scaler

In [17]:
# This is here for future reference of how to perform scaling
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

# Make scaler object
scaler = preprocessing.StandardScaler()

# Fit training data to scaler object
#X_train = scaler.fit_transform(X_train)
#X_test = scaler.transform(X_test)

In [18]:
X_test.head()

,test preparation course,education,gender_female,gender_male,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school,lunch_free/reduced,lunch_standard
1,1,1,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1
489,0,1,1,0,0,0,1,0,0,1,0,0,0,0,0,1,0
891,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,1
513,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,1
553,0,1,1,0,0,0,0,1,0,0,1,0,0,0,0,1,0